*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}


button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0.0.5);
    color:white;
    background-color:rgb(55, 125, 246);

}

button:hover{
    background-color: blueviolet;
}

.container{
    max-width: 1400px;
    margin: auto;

}

.color-acento{ color:rgb(43, 119, 226); }

header{
    background-color:rgb(25, 245,452);
}

header.logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet; 
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display:flex;
    flex-direction: column;
    text-align:center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color:blueviolet;

}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    )
    ,url("imagenes/ie.jpg");   

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-una .container{
    text-align: center;
    padding: 200px 12px;
}

#nosotros{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nosotros .container{
    padding: 150px 12px;
}

#nosotros h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nosotros p{
    display: none;
}

#nosotros .carta{
    background-position: center center;
    background-size: cover;
    padding: 30px 0px;
    margin: 40px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/laptop.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/laptop.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/laptop.jpg");
}

#acerca-de .container{
    text-align: center;
    padding: 250px 12px;
}

#acerca-de li{
    margin: 16px 0px;
    font-weight: bold;
}

#ubicacion{
    display: flex;
    flex-direction: column;
    justify-content:first baseline;
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    height: 80vh;

}

#contacto{
    text-align: center;
    padding: 20px 12px;
}



#contacto h2{
    font-size:4vw;
}

#contacto .container p{
    background-color: aqua;
    height: 10vh;
    text-align: center;
    padding: 20px 12px;
    
}

/*boton de ir arriba*/
#button-up{
    width: 60px;
    height: 60px;
    background: #46a2fd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    border: 4px solid transparent;
    transition: all 300ms ease;
    transform: scale(1);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}

footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
}

footer p{
    margin: 0;
    padding: 12px;
    color:rgb(0, 0, 0);
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



@media(min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
    }

    #nosotros h3{
        margin-top: 0;
    }
    
    #nosotros .carta{
        padding: 50px;
        background-size: 100% 300px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    #nosotros .programas{
        display: flex;
        justify-content: center;
    }
    
    #nosotros p{
        display: block;
        margin-bottom: 30px;
    }
    
    nosotros h3{
        margin-top: 0;
    }
    
    #nosotros .carta{
        padding: 50px;
    }
    

}
 